.idea/
.vscode/

*.gz
.DS_Store
/**/*.swp

ansible/config/GitHubKey
ansible/.dist/
ansible/roles/create-instances/templates/.ansible-hosts.j2.swp

stream/env/

*.pyc

*.ipynb
config_*.json
*.zip

setup_only.sh
setup.sh
init.sh
streamTweets.py
